:80, :443 {
    
    log {
        output file /var/log/caddy/access.log
	format json
    }

    @allowed {
        remote_ip 38.180.190.6 51.79.173.81 38.180.190.104 127.0.0.1 ::1
    }

    @allowed_api {
        remote_ip 38.180.190.6 51.79.173.81 38.180.190.104 127.0.0.1 ::1
        path /api/*
    }

    @allowed_media {
        remote_ip 38.180.190.6 51.79.173.81 38.180.190.104 127.0.0.1 ::1
        path /media/*
    }

    handle @allowed_api {
        reverse_proxy https://drashcloudsafer.online
        encode gzip zstd
    }

    handle @allowed_media {
        reverse_proxy https://drashcloudsafer.online
        encode gzip zstd
    }

    handle @allowed {
        root * /srv
        try_files {path} /index.html
        encode gzip zstd
        file_server
    }

    handle {
        respond "Forbidden" 403
    }
}
