:80, :443 {
    log {
        output stdout
        format console
        level info
    }

    @allowed {
        remote_ip 139.99.103.108 176.97.64.112 31.97.223.98 127.0.0.1 ::1
    }

    @allowed_api {
        remote_ip 139.99.103.108 176.97.64.112 31.97.223.98 127.0.0.1 ::1
        path /api/*
    }

    @allowed_media {
        remote_ip 139.99.103.108 176.97.64.112 31.97.223.98 127.0.0.1 ::1
        path /media/*
    }

    handle @allowed_api {
        reverse_proxy https://croucloud.xyz
        encode gzip zstd
    }

    handle @allowed_media {
        reverse_proxy https://croucloud.xyz
        encode gzip zstd
    }

    handle @allowed {
        root * /srv
        try_files {path} /index.html
        encode gzip zstd
        file_server
    }

    handle {
        respond "Forbidden" 403
    }
}
